body {
            margin: 0;
            font-family: Arboria, sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #FFFFFF;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            margin-left: 40px;
            font-size: 18px;
            font-weight: 450;
            color: black;
            padding: 10px;
            text-decoration: none;
        }

        .sidebar a.active {
            color: deeppink;
        }

        .sidebar b {
            display: block;
            margin-top: 15px;
            margin-left: 40px;
            font-size: 35px;
            color: black;
            font-family: Arboria, sans-serif;
        }

        .sidebar c {
            display: block;
            font-size: 18px;
            font-family: Arboria, sans-serif;
            margin-left: 40px;
            margin-top: 10px;
            margin-bottom: 40px;
            font-style: italic;
        }

        .sidebar a:hover:not(.active) {
            color: #adb5bd;
        }

        .assignment {
            font-size: 16px;
            font-family: Arboria, sans-serif;
            padding: 0 20px 0 20px;
            width: 490px;
            height: 450px;
            overflow: hidden;
            float: left;
        }

        .assignment:hover {
            overflow: auto
        }

        .assignment a {
            color: #000;
            text-decoration: none;
        }

        .assignment a:hover {
            background: deeppink;
            color: deeppink;
            text-decoration: none;
            /*border: 100px 100px 100px 100px solid deeppink;*/
        }

        div.content {
            margin-top: 40px;
            margin-left: 250px;
            margin-right: 150px;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.content {
                margin-left: 0;
            }
        }

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

footer {
    text-align: center;
    padding: 30px;
    color: black;
}

p {
    font-size: 18px;
    line-height: 26px;
}